project/flows.json
[
    {
        "id": "ddc949dc.190fb",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "f601b6c.26d9848",
        "type": "template",
        "z": "ddc949dc.190fb",
        "name": "cson",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "# Comments!!!\n\n# An Array with no commas!\ngreatDocumentaries: [\n    'earthlings.com'\n    'forksoverknives.com'\n    'cowspiracy.com'\n]\n\n# An Object without braces!\nimportantFacts:\n    # Multi-Line Strings! Without Quote Escaping!\n    emissions: '''\n        Livestock and their byproducts account for at least 32,000 million tons of carbon dioxide (CO2) per year, or 51% of all worldwide greenhouse gas emissions.\n        Goodland, R Anhang, J. “Livestock and Climate Change: What if the key actors in climate change were pigs, chickens and cows?”\n        WorldWatch, November/December 2009. Worldwatch Institute, Washington, DC, USA. Pp. 10–19.\n        http://www.worldwatch.org/node/6294\n        '''\n\n    landuse: '''\n        Livestock covers 45% of the earth’s total land.\n        Thornton, Phillip, Mario Herrero, and Polly Ericksen. “Livestock and Climate Change.” Livestock Exchange, no. 3 (2011).\n        https://cgspace.cgiar.org/bitstream/handle/10568/10601/IssueBrief3.pdf\n        '''\n\n    burger: '''\n        One hamburger requires 660 gallons of water to produce – the equivalent of 2 months’ worth of showers.\n        Catanese, Christina. “Virtual Water, Real Impacts.” Greenversations: Official Blog of the U.S. EPA. 2012.\n        http://blog.epa.gov/healthywaters/2012/03/virtual-water-real-impacts-world-water-day-2012/\n        “50 Ways to Save Your River.” Friends of the River.\n        http://www.friendsoftheriver.org/site/PageServer?pagename=50ways\n        '''\n\n    milk: '''\n        1,000 gallons of water are required to produce 1 gallon of milk.\n        “Water trivia facts.” United States Environmental Protection Agency.\n        http://water.epa.gov/learn/kids/drinkingwater/water_trivia_facts.cfm#_edn11\n        '''\n\n    more: 'http://cowspiracy.com/facts'",
        "x": 310,
        "y": 100,
        "wires": [
            [
                "e53cc10a.76c9f"
            ]
        ]
    },
    {
        "id": "f7a1c052.ce2d28",
        "type": "inject",
        "z": "ddc949dc.190fb",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "f601b6c.26d9848"
            ]
        ]
    },
    {
        "id": "ff59336f.e5e01",
        "type": "debug",
        "z": "ddc949dc.190fb",
        "name": "",
        "active": true,
        "console": "true",
        "complete": "payload",
        "x": 630,
        "y": 100,
        "wires": []
    },
    {
        "id": "bbc8a592.6416a8",
        "type": "template",
        "z": "ddc949dc.190fb",
        "name": "json",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"glossary\": {\n        \"timestamp\": {{payload}},\n        \"title\": \"example glossary\",\n\t\t\"GlossDiv\": {\n            \"title\": \"S\",\n\t\t\t\"GlossList\": {\n                \"GlossEntry\": {\n                    \"ID\": \"SGML\",\n\t\t\t\t\t\"SortAs\": \"SGML\",\n\t\t\t\t\t\"GlossTerm\": \"Standard Generalized Markup Language\",\n\t\t\t\t\t\"Acronym\": \"SGML\",\n\t\t\t\t\t\"Abbrev\": \"ISO 8879:1986\",\n\t\t\t\t\t\"GlossDef\": {\n                        \"para\": \"A meta-markup language, used to create markup languages such as DocBook.\",\n\t\t\t\t\t\t\"GlossSeeAlso\": [\"GML\", \"XML\"]\n                    },\n\t\t\t\t\t\"GlossSee\": \"markup\"\n                }\n            }\n        }\n    }\n}",
        "x": 310,
        "y": 260,
        "wires": [
            [
                "749debe1.0474ac"
            ]
        ]
    },
    {
        "id": "13f85d9f.b18ba2",
        "type": "inject",
        "z": "ddc949dc.190fb",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 260,
        "wires": [
            [
                "bbc8a592.6416a8"
            ]
        ]
    },
    {
        "id": "cd95281a.118a2",
        "type": "debug",
        "z": "ddc949dc.190fb",
        "name": "",
        "active": true,
        "console": "true",
        "complete": "payload",
        "x": 790,
        "y": 260,
        "wires": []
    },
    {
        "id": "abcac50c.f3af58",
        "type": "debug",
        "z": "ddc949dc.190fb",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 650,
        "y": 400,
        "wires": []
    },
    {
        "id": "749debe1.0474ac",
        "type": "json",
        "z": "ddc949dc.190fb",
        "name": "",
        "x": 450,
        "y": 260,
        "wires": [
            [
                "abcac50c.f3af58",
                "351128b0.427848"
            ]
        ]
    },
    {
        "id": "4f6b3f02.e3979",
        "type": "comment",
        "z": "ddc949dc.190fb",
        "name": "Decoding",
        "info": "",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "8cf1aca.a8d7dd",
        "type": "comment",
        "z": "ddc949dc.190fb",
        "name": "Encoding",
        "info": "",
        "x": 120,
        "y": 200,
        "wires": []
    },
    {
        "id": "e53cc10a.76c9f",
        "type": "cson",
        "z": "ddc949dc.190fb",
        "name": "",
        "x": 450,
        "y": 100,
        "wires": [
            [
                "ff59336f.e5e01"
            ]
        ]
    },
    {
        "id": "351128b0.427848",
        "type": "cson",
        "z": "ddc949dc.190fb",
        "name": "",
        "x": 610,
        "y": 260,
        "wires": [
            [
                "cd95281a.118a2"
            ]
        ]
    }
]